body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.sakura {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.sakura span {
    position: absolute;

}