/* Common styles for all boxes */
.box {
  color: white;
  font-weight: bold;
  padding: 20px;
  margin: 5px;
  text-align: center;
}
.box1 { background: green; }
.box2 { background: orange; }
.box3 { background: blue; }
.box4 { background: red; }

/* Give all containers some border and space */
.container {
  border: 2px solid black;
  margin-bottom: 30px;
  height: 150px; /* enough height to show vertical alignment */
  display: flex; /* all flex containers start here */
}

.direction-row {
  flex-direction: row;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.direction-column {
  flex-direction: column;
}

.direction-column-reverse {
  flex-direction: column-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.allign-end {
  align-items: flex-end;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}